aside{
    background-color: #008;
    flex-shrink: 0;
    display: flex;
    font-size: 16px;
    box-shadow: .33em .67em .33em rgba(147, 147, 147, 0.431);
    box-sizing: border-box;
  }
  .left{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .right{
    background-color:#ffffff;
    width: 60%;
    padding: 32px;
  
  }
  .image-container{
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
  }
  