.input-div{
    color: var(--main-color);
    padding: 15px 10px;
    font-size: 14px;
}
.input-div label{
    margin:5px 0;
    display: block;
}
.input-div input,.input-div textarea{
    display: block;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid transparent;
    color: var(--main-color);
    width: 100%;

}
.input-div:focus,textarea:focus{
    border: 1px solid rgba(0, 106, 255, 0.9);
    outline: none;
    box-shadow: 0 0 4px rgba(0, 106, 255, 0.9);
    transition: box-shadow .7s .2s,border .7s .2s;
}
input[type="file"]::file-selector-button{
    width: 50px;
    padding: 0;
    outline: none;
    border: none !important;
    text-align: center;
}
input[type="file"]{
    width: 50px;
    color: transparent;
}

