section,.button-container{
    background-color: #ffffff;
    padding: 1.3rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    width: 25rem;
  }
  section .button-div{
    padding: 0px;
  }
  
  section h3{
    margin-right: 5rem;
    display: inline;
    font-size: 1.125rem;
  }
  section>form{
    position: relative;
  }
  section>form>button{
    position: absolute;
    right: 0;
  }
  section>div >:nth-child(2) {
    float: right;
  }
  section form{
    padding-bottom: none;
  }
  .button-container{
    text-align: center;
  }
  .button-container :first-child{
    margin-right: 2.5rem;
    color: red;
  }