*{
  padding: 0px;
  margin: 0px;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

h1{
  text-align: center;
  background-color: var(--second-color);
  padding: 20px 20px 0 20px;
  font-size: 40px;
}
h1:hover{
  color: rgb(119, 0, 255);
}

body{
   --main-color: #008;
  color: var(--main-color);
  font-family: sans-serif;
  --second-color:#eee;
  font-size: 16px;
  background-color: var(--second-color);

}

.container{
  background-color: var(--second-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

 button{
  color: var(--main-color);
  border-radius: .5rem;
  border:1px solid transparent;
  padding: .5rem 1rem;
  font-size: .8rem;
  font-weight: 500;
  cursor: pointer;

}

main{
  padding: 3rem 6.5rem;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  overflow-y: scroll;
}

.button-container button{
  font-size: 1rem;
  font-weight: 600;
}
div{
  padding: 0px;
}
@media (max-width : 2000px) {
  section,.button-container{
    padding: 1.3rem 2rem;
  }
  body{
    font-size: 20px;
  }
  .container{
    flex-wrap: nowrap;
  }
  aside{
    margin: 2em 2em;
    width: 800px;
    height: 820px;
  }
  .output-field{
    font-size: 16px;
    padding: 16px;
  }
  .output-section{
    background-color: rgba(0, 0, 136, 0.126);
    padding: 15px;
    text-align: center;
    margin-top: 5px;
  }
  li{
    overflow:hidden;
  }
  ul{
    padding: 30px;
  }
  h3{
    font-size: 19px;
  }
  .image-container{
    width: 230px;
    height: 230px;
    margin: 0px auto 80px auto;
  }
 
}
@media (max-width : 1500px){
  main{
    padding-bottom: 0;
  }
  body{
    font-size: 23.5px;
  }
  .container{
    flex-wrap: wrap;
  }
  section,.button-container{
    padding: 1.7rem 3rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    min-width: 54rem;
  }
  section h3{
    margin-right: 6.5rem;
  }

  aside{
    margin:3rem 6.5rem ;
    font-size: 19px;
    width: 940px;
    height: 963.5px;
  }
  .output-field{
    font-size: 19px;
    padding: 19px;
  }
  
  .right{
    padding: 37.6px;
  }
  .image-container{
    width: 270px;
    height: 270px;
    margin: 0px auto 94px auto;
  }

  .output-section{
    background-color: rgba(0, 0, 136, 0.126);
    padding: 17.6px;
    text-align: center;
    margin-top: 5.8px;
  }
  li{
    overflow:hidden;
  }
  
  ul{
    padding: 35.5px;
  }
  h3{
    font-size: 22.3px;
  }
}
@media(max-width:1160px){
  main{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width : 1000px) {
  body{
    font-size: 16px;
  }
  
  .container{
    flex-wrap: wrap;
    padding: 10px;
  }
  section,.button-container{
    padding: 1.3rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    min-width: 37rem;
  }
  section h3{
    margin-right: 5rem;
  }
  aside{
    width: 650px;
    height: 666px;
  }
 
  .right{
    padding: 26px;
  }
  .output-field{
    font-size: 13px;
    padding: 13px;
  }
  .output-section{
    background-color: rgba(0, 0, 136, 0.126);
    padding: 12px;
    text-align: center;
    margin-top: 4px;
  }
  li{
    overflow:hidden;
  }
  ul{
    padding: 24px;
  }
  h3{
    font-size: 15.5px;
  }
  .image-container{
    max-width: 186px;
    max-height: 186px;
  }
}
@media (max-width: 690px) {
  main{
    padding: 0;
  }
  body{
    font-size: 11.6px;
  }
  .container{
    flex-wrap: wrap;
  }
  section,.button-container{
    padding: 1.3rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    min-width: 12rem;
  }
  section h3{
    font-size: 1em;
  }
  aside{
    margin: 0;
    width: 464px;
    height: 475px;
  }
  .output-field{
    font-size: 9.3px;
    padding: 9.3px;
  }
  .output-section{
    background-color: rgba(0, 0, 136, 0.126);
    padding: 8.7px;
    text-align: center;
    margin-top: 2.9px;
  }
  li{
    overflow:hidden;
  }
  ul{
    padding: 17.4px;
  }
  h3{
    font-size: 11px;
  }
  .image-container{
    width: 133px;
    height:133px;
    margin: 0px auto 46.5px auto;
  }
  
}


@media (max-width : 490px) {
  body{
    font-size: 5px;
  }
  .container{
    flex-wrap: wrap;
    padding: 4px;
  }
  section,.button-container{
    padding: 15px ;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 250px;
  }
  .button-container button{
    font-size: 11px;
  }
  h1{
    font-size: 24px;
    padding: 20px;
    padding-bottom: 0;
  }
  section button{
    font-size: 10px;
    position: relative;
    top: 5px;
  }
  aside{
    margin: 0;
    width: 300px;
    height: 307.5px;
  }
  .output-field{
    font-size: 6px;
    padding: 6px;
  }
  .output-section{
    background-color: rgba(0, 0, 136, 0.126);
    padding: 5.625px;
    text-align: center;
    margin-top: 1.625px;
  }
  li{
    overflow:hidden;
  }
  ul{
    padding: 11.25px;
  }
  h3{
    font-size: 7.1px;
  }
  .image-container{
    width: 85px;
    height:85px;
    margin: 0px auto 30px auto;
  }
  main{
    padding: 15px;
  }
  
}